@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
}